div .poll__choice_item {
  cursor: pointer;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  transition: all .25s ease;
}

.poll__choice_item.poll__choice_selected {
  box-shadow: 0 0 4px 3px #00bbce;
}

@media only screen and (max-width: 768px) {
  div .poll__choice_item {
    flex-wrap: wrap;
  }

  .poll__choice_percentage {
    margin-top: 10px;
    margin-left: 15%;
  }
}

